# Node
node_modules/
dist/

# Python
__pycache__/
.venv/
.env
.env.local
*.py[cod]

# Firebase & Secrets
backend/firebase-key.json
backend/*.json
backend/.env

# Vite / build
frontend/dist/

# OS
.DS_Store
Thumbs.db
